* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  height: 100vh;
  padding: 40px 0;
  background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  vertical-align: middle;
}

.container {
  width: 80%;
  height: calc(100vh - 80px);
  margin: 0 auto;
  background-color: grey;
}


/* Common Classes */
.avatar {
  height: 100%;
  border-radius: 50%;
}

.actions {
  display:flex;
  align-items: center;
  margin-left: auto;
}

.actions-list {
  display: flex;
}

.actions-list .actions-list-item {
  padding: 10px;
}

.actions-list a {
  font-size: 23px;
  color: #B1B1B1;
}

.bg-lightgrey {
  background-color: #EAEAEA;
}

.bg-lightblue {
  background-color: #8EDAFC;
}

/* LAYOUT */

.app-container,
#left-screen,
#main-screen {
  height: 100%;
}

.app-container {
  display: flex;
}

#main-screen {
  width: 65%;
}

#left-screen {
  width: 35%;
}

/* Header Left */

#left-screen .header-left {
  display: flex;
  height: 70px;
  padding: 10px;
}

/* Notifications */
#left-screen .notifications {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

#left-screen .notifications .off-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: #F2FBFF;
  border-radius: 50%;
  font-size: 22px;
  color: #8EDAFC;
}

#left-screen .notifications .notification-status .status-heading {
  font-size: 16px;
  font-weight: 700;
}

#left-screen .notifications .notification-status .status-action {
  font-size: 14px;
  color: #598599;
  text-decoration: underline;
}

/* Search bar */
#left-screen .search-bar {
  display: flex;
  align-items: center;
  height: 46px;
  padding: 6px;
  background-color: #FAFAFA;
}

#left-screen .search-bar .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: #fff;
  color: #B7BABC;
  border: 1px solid #EAEAEA;
}

#left-screen .search-bar #search-field {
  height: 100%;
  width: 100%;
  padding: 0 6px;
  border: none;
  border: 1px solid #EAEAEA;
  border-left: none;
}

#left-screen .search-bar #search-field::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #666;
}

/* Conversations */
#left-screen .conversations-list {
  height: calc(100% - 196px);
  background-color: #fff;
  overflow: auto;
}

#left-screen .conversations-list .conversation-item {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 6px 20px;
  border-bottom: 1px solid #FAFAFA;
  cursor: pointer;
}

#left-screen .conversations-list .conversation-item.selected {
  background-color: #E9EBEB;
}

#left-screen .conversation-item .contact-img,
#left-screen .conversation-item .contact-img img {
  height: 100%;
}

#left-screen .conversation-item .contact-img {
  margin-right: 15px;
  padding: 3px 0;
}

#left-screen .conversation-item .contact-img img {
  border-radius: 50%;
}

#left-screen .conversation-item .contact-name {
  margin-bottom: 5px;
}

#left-screen .conversation-item .contact-name h3 {
  font-size: 17px;
}

#left-screen .conversation-item .conversation-text p,
#left-screen .conversation-item .conversation-time {
  font-size: 14px;
  color: #C8CBCC;
}

#left-screen .conversation-item .conversation-time {
  margin-left: auto;
  font-size: 12px;
}

/* Header Right */
#main-screen .header-right {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 10px;
  border-left: 1px solid #ccc;
}

#main-screen .header-right .avatar {
  margin-right: 10px;
}

#main-screen .header-right .contact-name h3 {
  margin-bottom: 2px;
  font-size: 16px;
}

#main-screen .header-right .conversation-last p {
  font-size: 14px;
  color: #888;
}

/* Main view */

#main-screen .main-view {
  display: none;
  height: calc(100% - 140px);
  padding: 50px 80px;
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}

#main-screen .main-view.active {
  display: block;
}

/* Messages */

#main-screen .msg-row {
  display: flex;
  margin: 10px 0;
}

#main-screen .main-view .msg {
  position: relative;
  max-width:50%;
  padding: 15px 35px 15px 15px;
  border-radius: 10px;
  font-size: 15px;
  word-break: break-word;
}

#main-screen .main-view .user-msg {
  margin-left: auto;
  background-color: #D5F9BA;
}

#main-screen .main-view .ai-msg {
  background-color: #FFF;
}

#main-screen .main-view .msg-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #A8A8A8;
}

#main-screen .main-view .msg .arrow {
  display: none;
  position: absolute;
  top: 8px;
  right: 10px;
}

#main-screen .main-view .msg:hover .arrow {
  display: block;
  color: #999;
}

/* Message Menu */

#main-screen .main-view .msg .msg-menu {
  display: none;
  position: absolute;
  bottom: -70px;
  right: 0;
  white-space: nowrap;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

#main-screen .main-view .msg .msg-menu a {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #999;
}

#main-screen .main-view .msg .msg-menu a:hover {
  color: #000;
}

/* Footer right */

#main-screen .footer-right {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 10px;
}

#main-screen .footer-right a {
  font-size: 25px;
  color: #555;
}

#main-screen .footer-right .emoticons,
#main-screen .footer-right .send-btn {
  display: flex;
  justify-content: center;
  width: 120px;
}

#main-screen .footer-right #msg-input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
}

#main-screen .footer-right #msg-input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #999;
}

/* Clone template */

.msg-template {
  display: none;
}
